body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    transition: background-color 0.3s, color 0.3s;
}

.container {
    text-align: center;
    max-width: 800px;
    margin: auto;
}

canvas {
    margin: 20px 0; /* Espaço entre os gráficos */
}

button {
    padding: 10px 20px;
    position: absolute;
    top: 20px;
    right: 20px; /* Posição no canto direito */
    border: none;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.light {
    background-color: #f8f9fa;
    color: #212529;
}

.dark {
    background-color: #343a40;
    color: #f8f9fa;
}

footer {
    margin-top: 20px;
    font-size: 0.9em;
}
